.header {
  padding-top: 40px;
  padding-bottom: 30px;
}

.logo {
  font-size: 36px;
  font-weight: 700;
}

.logo a, .logo a:hover {
  color: #000000;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 8px;
}

.search__popup-loading {
  position: absolute;
  top: 53px;
  z-index: 1000;
  right: 0;
  left: 0;
  height: 200px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__popup-list {
  position: absolute;
  z-index: 1000;
  top: 53px;
  right: 0;
  left: 0;
  min-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__popup-list--empty {
  display: none;
}

.search__popup-item {
  background-color: #ffffff;
  color: #000000;
  margin-top: -1px;
  padding: 8px;
  border: 1px solid grey;
}

.search__popup-to-form {
  background-color: #ffffff;
  color: #000000;
  margin-top: -1px;
  padding: 5px;
  border: 1px solid grey;
  font-size: 11px;
}

.search__item-info-wrapper {
  display: flex;
  justify-content: space-between;
}
